.register-parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.register-form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #BD4B4B;
    padding: 25px;
    font-family: 'Dosis';
    border-radius: 10px;
    box-shadow: 8px 8px;

    max-width: 340px;
}

.register-input{
    font-size: 20px;
    font-family: 'Dosis';
    min-width: 250px;
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    box-shadow: 5px 5px;
    transition: .1s;
}

.register-input:focus{
    transform: translate(-4px, -4px);
    box-shadow: 9px 9px 4px #522020;
}

.register-button{
    border: none;
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
    box-shadow: 5px 5px;
    cursor: pointer;
    align-self: center;
    font-size: 15px;
    font-family: 'Dosis';
    transition: .1s;
    min-width: 100px;
}

.register-button:hover{
    transform: translate(-4px, -4px);
    box-shadow: 9px 9px 3px #522020;
}

.register-p{
    position: absolute;
    right: 10vw;
    max-width: 25vw;
    font-size: 20px;
}

.registration-info-icon{
    display: block;
    font-size: 35px;
}