@import url('https://css.gg/add-r.css');

.YourNotes-parent {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 25px;

    background-color: #BD4B4B;
    
    border-radius: 10px;
    box-shadow: 6px 6px;
}

.YourNotes-h3{

}

.YourNotes-button{

    background-color: #EEEEEE;
    border: none;
    padding: 7px 12px 7px 12px;
    font-size: larger;
    border-radius: 6px;
    box-shadow: 5px 5px;

    display: flex;
    gap: 15px;

    cursor:pointer;

    transition: transform .1s, box-shadow .1s;
}

.YourNotes-add-icon{
    box-shadow: 1px 1px;
}

.YourNotes-button:hover{
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 3px;
}
