body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-page{
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 90px auto 100px;
  font-family: 'Dosis', sans-serif;
  background-color: #EEEEEE;

}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
